.textContainer {
    font-size: 2.5rem;
    /* Ajustado para el login, 6xl (3.75rem) podría ser muy grande */
    font-weight: 400;
}

.wrapper {
    position: relative;
    display: inline-block;
}

.sparkle {
    pointer-events: none;
    position: absolute;
    z-index: 20;
}